@using Application.Services.Catalogs.CatalogBrands
@model List<CatalogBrandList>
@{
    Layout = null;
    var brandId = Context.Request.Query["brandId"];
}

                            <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterFour">برند <b class="caret"></b></a>
                            </div>
                            <form id="filterFour" class="accordion-body collapse">
                                @foreach (var item in Model)
                                {
                                @if (brandId.ToList().Any(p => p == item.Id.ToString()))
                                {
                            
                                <label class="container-checkbox">
                                    @item.Brand
                                    <input type="checkbox" checked name="brandId" value="@item.Id" onclick="submit();">
                                    <span class="checkmark"></span>
                                      </label>
 
                             
                                }
                                else
                                {
                            
                                <label class="container-checkbox">
                                    @item.Brand
                                    <input type="checkbox" name="brandId" value="@item.Id" onclick="submit();">
                                    <span class="checkmark"></span>
                                      </label>
 
                                
                                }
                                }
        @foreach (var queryString in Context.Request.Query.Where(p => p.Key != "brandId").ToList())
        {
            <input type="hidden" name="@queryString.Key" value="@queryString.Value" />
        }
                            </form>
                        </div>


