@model IEnumerable<Site.EndPoint.Areas.Admin.Controllers.roledto>

@{
    ViewData["Title"] = "Rols";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Rols</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("اضافه کردن کاربر به این نقش", "Index","Account", new {  roleid=item.Id,area = "Admin"  }) 
            </td>
            <td>
                @Html.ActionLink("لیست کاربران این نقش", "UserInRole","Account", new {  RoleName=item.Name,area = "Admin"  }) 
            </td>                                                        
        </tr>
}
    </tbody>
</table>
