@using Application.Services.Catalogs.CatalogItems
@using Application.Dto
@using Common.Resutls
@model PaginatedItemsDto<CatalogItemListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
        <div class="push-up">
            <div class="row">
                

                <aside class="span3 left-sidebar">
                    <div class="sidebar-item sidebar-filters" id="sidebarFilters">
                        

                        <div class="underlined">
                        	<h3><span class="light">بر اساس فیلتر</span> خرید کنید</h3>
                        </div>
                        

@await Component.InvokeAsync("CategoryComponent")

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#filterTwo">سایز <b class="caret"></b></a>
                            </div>
                            <form id="filterTwo" class="accordion-body collapse" asp-action="Index">
                                <div class="accordion-inner">
                                    <a onclick="submit();" asp-route-size="1"><i class="box"></i>کوچک</a>
                                     <a  onclick="submit();" asp-route-size="2"><i class="box"></i>متوسط</a>
                                     <a onclick="submit();"   asp-route-size="3"><i class="box"></i>بزرگ</a>
 
                                </div>
                            </form>
                                @foreach (var queryString in Context.Request.Query.Where(p => p.Key == "brandId" || p.Key == "CatalogTypeId" || p.Key =="SystemId").ToList())
                                {
                                    foreach (var item in queryString.Value)
                                    {
                                        <input type="hidden" name="@queryString.Key" value="@item" />
                                    }
                                }
                        </div> <!-- /size filter -->
                        
                        <!--  ==========  -->
                        <!--  = system filter =  -->
                        <!--  ==========  -->
@await Component.InvokeAsync("SystemComponents") <!-- /system filter -->
                        
                        <!--  ==========  -->
                        <!--  = Brand filter =  -->
                        <!--  ==========  -->
@await Component.InvokeAsync("BrandComponents") <!-- /brand filter -->
                        
                        <a href="#" class="remove-filter" id="removeFilters" style="display: none;"><span class="icon-ban-circle"></span> حذف همه فیلتر ها</a>
                        
                    </div>
                </aside> <!-- /sidebar -->
                
                <!--  ==========  -->
                <!--  = Main content =  -->
                <!--  ==========  -->
                <section class="span9 blocks-spacer">
                    
                    <!--  ==========  -->
                    <!--  = Title =  -->
                    <!--  ==========  -->
                    <div class="underlined push-down-20">
                        <div class="row">
                            <div class="span5">
                                <h3><span class="light">جستجو:</span> "قطعات"</h3>
                            </div>
                            <div class="span4">
                                <div class="form-inline sorting-by">
                                    <label for="isotopeSorting" class="black-clr">چینش:</label>
            <ul class="nav nav-pills col-md-12">

                <li class="nav-item">
                    <b class="nav-link" aria-current="page">مرتب‌سازی بر اساس :</b>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-route-sorttype="4">جدید ترین</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-route-sorttype="5">ارزانترین</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-route-sorttype="6">‌گرانترین</a>
                </li>
                
            </ul>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row popup-products">
                        <div id="isotopeContainer" class="isotope-container isotope" style="position: relative; overflow: hidden; height: 3784px;">
                    	    
                    	    
                    	     

                            @foreach (var item in Model.Data)
                            {
                              <div class="span3 filter--ryl isotope-item" data-price="100" data-popularity="5" data-size="16|10" data-brand="italia" style="position: absolute; left: 0px; top: 0px; transform: translate3d(600px, 424px, 0px);">
                    	        <div class="product">
                    	             
                    	            <div class="product-img">
                    	                <div class="picture">
                    	                    <img width="540" height="374" alt="" src="@item.ImageSrc">
                    	                    <div class="img-overlay">
                    	                        <a class="btn buy btn-danger" href="~/Product/Detail?Id=@item.Id&&Slug=@item.Slug">مشاهده جزییات</a>
                    	                    </div>
                    	                </div>
                    	            </div>
                    	            <div class="main-titles no-margin">
                    	                <h4 class="title">@item.Price.ToString("n0")</h4>
                    	                <h5 class="no-margin isotope--title">@item.Name</h5>
                    	            </div>
                    	        </div>
                    	    </div>
                            }
                    	     
                    	    
                    	</div>
                	</div>
                	<hr>
                    <div class="pagination pagination-centered">
                        <ul>
                                                @foreach (var item in Model.Pager.Pages)
                                                {
                                                    if (item == Model.PageIndex)
                                                    {
                                                        <li class="paginate_button page-item active">
                                                            <a asp-action="Index" 
                                                               asp-route-page="@item"
                                                               aria-controls="html5-extension"
                                                               data-dt-idx="2" tabindex="0"
                                                               class="page-link"> @item</a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li class="paginate_button page-item ">
                                                            <a asp-action="Index" 
                                                               asp-route-page="@item"
                                                               aria-controls="html5-extension"
                                                               data-dt-idx="2" tabindex="0"
                                                               class="page-link"> @item</a>
                                                        </li>
                                                    }

                                                }
                        </ul>

                    </div>
                </section> 
            </div>
        </div>
    </div>

